.btn
  width: 150px
  padding: 0.7em
  cursor: pointer
  border: 2px solid var(--primary-color)
  border-radius: 15px
  font-size: 2rem
  font-family: var(--primary-font)
  background: var(--secondary-color)
  color: var(--primary-font-color)

.btn:hover
  background: var(--primary-color)
  color: var(--secondary-color)
  border-color: var(--secondary-color)
  transition: background 0.5s ease