body
  background-color: $primary-backgroud
  // background: url('/src/assets/bg.svg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  border-top: 3px solid $primary-color
  display: flex
  flex-direction: column

/* width */
::-webkit-scrollbar 
  width: 5px


/* Track */
::-webkit-scrollbar-track 
  background: $primary-backgroud


/* Handle */
::-webkit-scrollbar-thumb 
  background: $primary-color


/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
  background: white