.home-header
  display: flex
  justify-content: space-between
  align-items: center

.user-info
  display: flex
  justify-content: space-between
  align-items: center

.menu
  display: flex
  align-items: center

.feed
  display: flex
  flex-direction: column

.search
  display: flex
  justify-content: center
  align-items: center

.posts
  display: flex
  justify-content: space-evenly
  flex-wrap: wrap
  gap: 5rem
