body
  padding: 1.5rem

.user-name
  margin-right: 1.5rem

.user-profile-picture
  margin-right: 1rem

.tabs
  margin-right: 4rem

.tab:first-child
  margin-right: 4rem

.search
  margin-top: 2rem

.search-input
  padding: 0.75rem