body
  color: $primary-font-color

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $primary-font
  color: $primary-font-color

a
  font-family: $primary-font

.site-title
  font-family: $primary-font
  font-size: $large-font
  color: $primary-color

.user-info
  font-family: $primary-font

.user-name
  font-size: $medium-font

.tab
  font-size: $medium-font