body
  color: $primary-font-color

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $primary-font
  color: $primary-font-color

a, input
  font-family: $primary-font

.site-title
  font-family: $primary-font
  font-size: $large-font
  color: $primary-color

.user-info
  font-family: $primary-font

.user-name
  font-size: $medium-font

.tab
  font-size: $medium-font

.search-input
  font-size: $input-font
  color: $primary-font-color

.search-suggestion, .tag-suggestion
  font-size: $input-font
  font-family: $primary-font
  color: $primary-font-color

.new-post > *
  font-family: $primary-font

.new-post-title
  font-size: $large-font
  text-align: center

.new-post-label
  font-size: $medium-font

.new-post-input, .new-post-textarea
  font-size: $input-font
  color: $primary-font-color

.new-post-tag
  text-align: center
  font-size: 2rem
